body{
  box-sizing: border-box;
  padding: 10px 20px 30px;
  background: #eee;
  font-family: sans-serif;
}

.wrap{
  margin: 10px 20px;
  background: #fff;
  padding: 10px 20px 30px;
}
.buttonAnimated{
    width: 100px;
    height: 30px;
    background: white;
    transition: 1s;
    outline: none;
}
.buttonAnimated.animation{
  width: 350px;
  height: 50px;
  background: red;
}
.eventButton{

}
.eventButton.unactive{
  background: #eee;
  color: #a8a8a8;
}

#error{
  color: red;
}

#bubbleParent{
  margin-top: 20px;
  padding: 20px 30px;
  border: 1px solid blue;
}
#bubbleParent:hover{
  background: blue;
}
#bubbleChild{
  padding: 20px 30px;
  border: 1px solid red;
}
#bubbleChild:hover{
  background: red;
}

#slider {
  position: relative;
  overflow: hidden;
}

#slider img {
  position: relative;
  opacity: 0;
  top: -40px;
  transition: .5s;
  transition-timing-function: ease-out;
}

#slider img.loadedImage {
  top: 0;
  opacity: 1;
}

/*#slider .loadedImage {*/
/*  opacity: .5;*/
/*  -webkit-transition: 3s;*/
/*  -moz-transition: 3s;*/
/*  -ms-transition: 3s;*/
/*  -o-transition: 3s;*/
/*  transition: 3s;*/
/*}*/
